* {
	box-sizing: border-box;
}
body {
	background-color: hsl(33, 100%, 85%);
	margin: 0;
}
nav {
	float: left;
	width: 20%;
}
#header {
	width: 100%;
	border: 1px solid;
	background-image: url(images/headerpic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
	background-size: cover;
}
#header h1 {
	text-align: center;
	padding: 20px;
	color: hsl(0, 0%, 90%);
	font-family: "Courier New", monospace;
}
.navi {
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Courier New", monospace;
	font-weight: bolder;
	font-size: large;
}
.navi a {
	color: white;
	text-decoration: none;

}
.navi div {
	background-color: hsl(0, 59%, 30%);
	text-align: center;
	border: 1px solid;
	border-radius: 5px;
	text-wrap: wrap;
	height: 60px;
}
#active {
	background-color: hsl(25, 50%, 54%);
}
#active p {
	color: black;
}
.navi div:hover {
	background-color: hsl(25, 50%, 54%);
}
.navi div:hover p {
	color: black;
}
main {
	float: left;
	width: 80%;
	height: ;
	font-size:medium;
	font-family: Verdana, sans-serif;
	text-align: justify;
}
main p {
	color: hsl(0, 59%, 20%);
	padding: 40px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: justify;
}
#iconat:hover{
	color: hsl(25, 50%, 54%);
}
#iconyt:hover{
	color: hsl(0, 100%, 50%);
}
#iconig:hover{
	color: hsl(0, 59%, 41%);
}
#iconfb:hover{
	color: hsl(240, 100%, 50%);
}
main a {
	color: hsl(0, 59%, 20%);	
}
main::after {
	content: "";
	display: table;
	clear: both;
}
footer {
	width: 100%;
	border: 1px solid;
	background-image: url(images/footerpic.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
	background-size: cover;
	float: left;
}
footer p {
	color: hsl(0, 59%, 30%);
	float: right;
	padding-right: 20px;
}
footer i {
	padding-top: 25px;
	padding-left: 60px;
	color: hsl(0, 59%, 30%);
	float: left;
}

footer i:hover {
	color: hsl(25, 50%, 54%);
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-bottom: 20px;
}
#portfolio {
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
	margin-top: 0px;
	justify-content: center;
}
#portfolio div {
	float: left;
	padding: 20px;
}
#galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 90px;
	margin-top: 0px;
}
.photo {
	margin: 20px;
	margin-top: 0;

}
.photo img {
	width: 200px;
	height: 200px;
	margin 0;
	border: 1px solid hsl(25, 50%, 54%);
}
.photo img:hover {
	border: 3px solid hsl(0, 59%, 30%);
}

@media (max-width: 800px) {
	nav,
	article,
	main {
		width: 100%;
		height: auto;
	}
	.navi div {
		width: 33.33%;
		float: left;
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		padding-bottom: 20px;
	}
	main p {
		padding: 40px;
	}
}